<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.yohasebe.osx-dic-selector</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>3417E397-CE25-4269-949F-1F6A71A0FC87</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4AAE5C23-B7EE-461A-A40B-9D9C2A8C92B4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>8AA47251-9F25-4603-A094-4C2E5D40F9E4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3417E397-CE25-4269-949F-1F6A71A0FC87</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Yoichiro Hasebe</string>
	<key>description</key>
	<string>Lets you quickly look up words from a variety of dictionaries preinstalled in OSX</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>OSX Dictionary Selector</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>hotkey</key>
				<integer>2</integer>
				<key>hotmod</key>
				<integer>1179648</integer>
				<key>hotstring</key>
				<string>D</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>8AA47251-9F25-4603-A094-4C2E5D40F9E4</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>open x-dictionary:d:{query}</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.script</string>
			<key>uid</key>
			<string>4AAE5C23-B7EE-461A-A40B-9D9C2A8C92B4</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>4</integer>
				<key>keyword</key>
				<string>ds</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Please wait . . .</string>
				<key>script</key>
				<string>export LANG=ja_JP.UTF-8

ruby osx-dictionary-selector.rb "{query}"
</string>
				<key>subtext</key>
				<string>Type in a word/phrase and select a dictionary from the list</string>
				<key>title</key>
				<string>OSX Dictionary Selector</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>3417E397-CE25-4269-949F-1F6A71A0FC87</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>3417E397-CE25-4269-949F-1F6A71A0FC87</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>4AAE5C23-B7EE-461A-A40B-9D9C2A8C92B4</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>8AA47251-9F25-4603-A094-4C2E5D40F9E4</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>https://github.com/yohasebe/osx-dictionary-selector</string>
</dict>
</plist>
