<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.yohasebe.osx-dic-selector</string>
	<key>connections</key>
	<dict>
		<key>3417E397-CE25-4269-949F-1F6A71A0FC87</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4AAE5C23-B7EE-461A-A40B-9D9C2A8C92B4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>19959EEF-7693-4A16-94DB-E1E7CAE7A992</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>813064F6-202E-4F2B-9BC9-E8A9B4BC775B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8BEF2A52-26AF-409C-8AFB-A8D0D48B00AA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>3F0F2A50-E614-4700-B284-3CC23E0F20B7</string>
				<key>modifiers</key>
				<integer>131072</integer>
				<key>modifiersubtext</key>
				<string>Open User Local Dictionary Folder</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>8AA47251-9F25-4603-A094-4C2E5D40F9E4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3417E397-CE25-4269-949F-1F6A71A0FC87</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Yoichiro Hasebe</string>
	<key>description</key>
	<string>Lets you quickly look up words from a variety of dictionaries preinstalled in OSX</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Mac Dictionary Selector</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>open x-dictionary:d:{query}</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>4AAE5C23-B7EE-461A-A40B-9D9C2A8C92B4</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>hotkey</key>
				<integer>0</integer>
				<key>hotmod</key>
				<integer>0</integer>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>8AA47251-9F25-4603-A094-4C2E5D40F9E4</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>4</integer>
				<key>keyword</key>
				<string>ds</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Please wait . . .</string>
				<key>script</key>
				<string>export LANG=ja_JP.UTF-8

ruby mac-dictionary-selector.rb "{query}"
</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Type in a word/phrase and select a dictionary from the list</string>
				<key>title</key>
				<string>OSX Dictionary Selector</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>3417E397-CE25-4269-949F-1F6A71A0FC87</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>open dict folder</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Open Mac Dictionary folder</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>813064F6-202E-4F2B-9BC9-E8A9B4BC775B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>openwith</key>
				<string>/System/Library/CoreServices/Finder.app</string>
				<key>sourcefile</key>
				<string>/Library/Dictionaries</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openfile</string>
			<key>uid</key>
			<string>8BEF2A52-26AF-409C-8AFB-A8D0D48B00AA</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>19959EEF-7693-4A16-94DB-E1E7CAE7A992</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>openwith</key>
				<string>/System/Library/CoreServices/Finder.app</string>
				<key>sourcefile</key>
				<string>~/Library/Dictionaries</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openfile</string>
			<key>uid</key>
			<string>3F0F2A50-E614-4700-B284-3CC23E0F20B7</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>19959EEF-7693-4A16-94DB-E1E7CAE7A992</key>
		<dict>
			<key>xpos</key>
			<integer>700</integer>
			<key>ypos</key>
			<real>250</real>
		</dict>
		<key>3417E397-CE25-4269-949F-1F6A71A0FC87</key>
		<dict>
			<key>xpos</key>
			<integer>300</integer>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>3F0F2A50-E614-4700-B284-3CC23E0F20B7</key>
		<dict>
			<key>xpos</key>
			<integer>500</integer>
			<key>ypos</key>
			<real>250</real>
		</dict>
		<key>4AAE5C23-B7EE-461A-A40B-9D9C2A8C92B4</key>
		<dict>
			<key>xpos</key>
			<integer>700</integer>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>813064F6-202E-4F2B-9BC9-E8A9B4BC775B</key>
		<dict>
			<key>xpos</key>
			<integer>300</integer>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>8AA47251-9F25-4603-A094-4C2E5D40F9E4</key>
		<dict>
			<key>xpos</key>
			<integer>100</integer>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>8BEF2A52-26AF-409C-8AFB-A8D0D48B00AA</key>
		<dict>
			<key>xpos</key>
			<integer>500</integer>
			<key>ypos</key>
			<real>130</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>https://github.com/yohasebe/osx-dictionary-selector</string>
</dict>
</plist>
